body {
	font-family: 'Bungee', cursive;
	font-size: 16px;
    text-align: center;
    background-image: url("../images/bg-pattern.png");
}

#main-title {
	font-size: 38px;
	margin-bottom: 0;
}

h3 {
	margin: 0;
}